* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/images/mainpage_background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h1,
.form-group,
.text-muted,
p{
    color: white;
}
