.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    transition: 0.5s;
}

.active, .accordion:hover{
    background-color: #ccc;
}

.panel{
    padding: ;
    background-color: white;
    display: none;
    overflow: hidden;
}
