* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../mainpage_background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Makes image background for header only

header {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("mainpage_background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*/ 

/* Mainpage title */

.mainTitle{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mainTitle h1{
    border: 1px solid gray;
    border-style: hidden;
    opacity: 80%;
    width: auto;
    height: 80px;
    border-radius: 5%;
    background-color: gray;
    color: #fff;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Mainpage button */

.button{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    scroll-behavior: smooth;
}

.btn{
    border: 1px solid #fff;
    padding: 21px 40px;
    color: #fff;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

h1 {
    text-align: center;
}

.wrapper .navbar {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
}

.wrapper .navbar .hamburger {
    width: 70px;
    height: 100%;
    background: #92a6e2;
    padding: 15px 17px;
    cursor: pointer;
}

.wrapper .navbar .hamburger div {
    width: 35px;
    height: 4px;
    background: #000;
    margin: 5px 0;
    border-radius: 5px;
}

.wrapper .navbar .menu {
    width: 100%;
    background: #92a6e2;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.wrapper .navbar .menu .title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.wrapper .sidebar {
    position: fixed;
    top: 60px;
    background: #92a6e2;
    width: 200px;
    height: 100%;
    transition: all 0.3s ease;
    opacity: 0.7;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #fff;
    display: none;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    background: #4360b5;
}

.wrapper .sidebar ul li  a:hover:before,
.wrapper .sidebar ul li  a.active:before {
    display: block;
}

.wrapper .sidebar ul li a span.icon {
    margin-right: 10px;
    display: inline-block;
}

.wrapper .sidebar ul li a span.title {
    display: inline-block;
    font-size: 18px;
}

.wrapper.collapse .sidebar {
    width: 70px;
}

.wrapper.collapse .sidebar ul li a {
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
    margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
    display: none;
}

#arrowBtn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 30%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);

    color: #fff;
    background: #3498db; /* Bare å endre farge */
    cursor: pointer;
    display: none;
}

#arrowBtn:active {
    background: #2980b9;
}

/* Questionmark img */

.questionInfo{
    
    position: relative;
    width: 100%;
    cursor: pointer;

}

.questionmark{
    
    display: block;
    position: absolute;
    right: 20px;
    top: 640px;
    width: 4%;
    
}

.overlay {
    
    margin: 0px;
    position:absolute;
    top: 610px;
    right: 120px;
    opacity: 0;
    
    
    
}

.text {
    
  color: white;
  font-size: 20px;
  position: relative;
  top: 43;
  left: 20%;
  text-align: center;
    
    
}

.questionInfo:hover .overlay{
    
    opacity: 1;
}