.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: ;
    width: ;
    text-align: ;
    transition: 0.5s;
}

.active, .accordion:hover{
    background-color: #ccc;
}

.panel{
    padding: ;
    background-color: white;
    display: none;
    overflow: hidden;
}
