

body {
	margin: 3em 2em;
	background-color: #3f888f;
}

h4 {
	background-color: #eee;
	font-size: 1.2em;
	padding-left: 10px;
}

.button{
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 21px 40px;
    color: #fff;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

/* samme bakgrunnsfarge som medlem og arbeidsoppgave */
span {
	background: lightgray;
}

/* Overskrift */
#title_top {
	color: white;
	text-align: center;
}

/* Beskrivelse */
#description {
	text-align: center;
	padding: 1em;
	color: whitesmoke;
	font-size: 20px;
}

/* Divides the content to three sections */
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-template-rows: 1; */
	grid-column-gap: 2em;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;

}

/*  */
.section {
	margin-top: 1.5em;
	padding: 0px 5px 15px 5px;
	background: whitesmoke;
    opacity: 90%;
	/* border: 1px solid rgba(202, 202, 202, 0.801); */
	box-shadow: 1px 1px rgba(9, 30, 66, .25);
	border-radius: 4px;
}

.title_sections {
	margin: .5em;
	background:lightgray !important;
}

.add_entry {
	background: #eee;
}

input {
	margin-bottom: 10px;
}

/* Input legg til ny teammedlem */
input,
input[name=name] {
	cursor: text;
	background-color: #fff;
	border: 1px solid #8ADCFF;
	margin-top: 5px;
	color: #333;

}

/* Input legg til arbeidsoppgave*/
input,
input[name=task] {
	cursor: text;
	background-color: #fff;
	border: 1px solid #8ADCFF;
	margin-top: 5px;
	color: #333;
}


/* knapp for teammedlem og arbeidsoppgave */
input,
input[type=submit] {
	cursor: pointer;
	font-weight: bold;
	background-color: #8ADCFF;
	border: none;
	color: white;
	padding: 12px 14px;
	margin-left: 10px;
	text-decoration: none;
	font-size: 16px;
	float: left;
}

input,
input[type=submit]:hover {
	background-color: #eee;
	border: 1px solid #8ADCFF;
	color: #8ADCFF;
}

/* Styling bekreft knapp */
#confirmButton {
	cursor: pointer;
	font-weight: bold;
	background: #8ADCFF !important;
	border: none;
	color: white;
	padding: 12px 14px;
	margin-left: 10px;
	text-decoration: none;
	font-size: 16px;
	float: left;
}

#confirmButton:hover {
	background: #eee !important;
	border: 1px solid #8ADCFF;
	color: #8ADCFF;
}



.list_title {
	width: 100%;
	font-size: 1.2em;
	float: left;
	margin: 5px 0px 5px 0px;
}

/* For added members and tasks */
.list_items {
	width: 90%;
	float: left;
	font-size: 1em;
	margin: 4px 10px 4px 10px;
	padding: 10px;
	background: #fff;
	box-shadow: 1px 1px rgba(9, 30, 66, .25);
	border-radius: 3px;
}

/* Hover effect for list items */
.list_items:hover {
	/* transform: scale(1.02); */
	/* border: 1px solid rgb(201, 201, 201); */
	/* box-shadow: 2px 2px 7px rgba(110, 110, 110, 0.5); */
	background-color: #ddd;

}