* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

header {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../mainpage_background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 600px;

}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    background-color: gray;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    border: 1px solid gray;
    border-style: hidden;
    opacity: 80%;
    width: auto;
    height: 80px;
    border-radius: 5%;
    background-color: gray;
    color: #fff;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.button{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    scroll-behavior: smooth;
}

.btn{
    border: 1px solid #fff;
    padding: 21px 40px;
    color: #fff;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

