*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: #d9514eff;
    color: #2a2b2dff;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 2rem;
}