*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d9514eff;
    color: #2a2b2dff;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1rem;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: #2da8d8ff;

}

form button{
    color: #2da8d8ff;
    background: #2a2b2dff;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    /*! change the colours or just switch them*/
    background:#2a2b2dff ;
    color: #2da8d8ff;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    background: white;
    color: #2a2b2dff;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li{
    flex: 1;
}

.trash-btn, .complete-btn{
    background: pink;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn{
    color: green;
}